/**
 * Custom CSS for the nSnake homepage
 */

/* The RSS feed */
#rss-feed ul {
	list-style: none;
}
#rss-feed .itemDate {
	font-size: 80%;
	font-style: italic;
}


/* Overriding Bootstrap's <code> tag */
code {
	padding: 0 5px;
	background-color: rgb(15, 15, 15);
	color: #FFF;
	border-radius: 5px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.5);
}

